<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/bootstrap.css}" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" th:href="@{css/login.css}" href="../static/css/login.css" />
    <title>Guest Book</title>
</head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container">
    <h1>Please Submit Your Experience </h1>
    <form action="#" th:action="@{/commentForm}" method="post" th:object="${feedback}" >
        <div class="form-group">
            <label for="fgFirstName">Example label</label>
            <input type="text" class="form-control" id="fgFirstName" placeholder="Foo" th:field="*{firstName}">
        </div>
        <div class="form-group">
            <label for="fgLastName">Another label</label>
            <input type="text" class="form-control" id="fgLastName" placeholder="Bar" th:field="*{lastName}" >
        </div>
        <div class="form-group">
            <label for="fgEmail">Email</label>
            <input type="text" class="form-control" id="fgEmail" placeholder="Foo@Bar.com" th:field="*{email}" >
        </div>
        <div class="form-group">
            <label for="fgExp">Experience</label>
            <textarea class="form-control" id="fgExp" rows="3" placeholder="Stay Was Nice" th:field="*{experience}" ></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Post Comments</button>
        </div>
    </form>
</div>
<script type="text/javascript" th:src="@{js/jquery-3.5.1.js}" src="../static/js/jquery-3.5.1.js"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</body>
</html>