<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/bootstrap.css}" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" th:href="@{css/login.css}" href="../static/css/login.css" />
    <title>Guest Book</title>
</head>
<body>
    <header th:insert="fragments.html :: nav"></header>
    <div class="container">
       <!-- <p>Spring Security Thymeleaf tutorial</p>
        <div sec:authorize="hasRole('USER')">Text visible to user.</div>
        <div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
        <div sec:authorize="isAuthenticated()">Text visible only to
            authenticated users.</div>
        Authenticated username:
        <div sec:authentication="name"></div>
        Authenticated user roles:
        <div sec:authentication="principal.authorities"></div>-->

        <h1>List Of Feedbacks</h1>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Experience</th>
                <th sec:authorize="hasRole('ADMIN')" scope="col">Approved</th>
              </tr>
            </thead>
            <tbody>
            <tr th:each="feedback: ${feedbacks}">
                <td th:text="${feedback.id}" />
                <td th:text="${feedback.firstName}" />
                <td th:text="${feedback.lastName}" />
                <td th:text="${feedback.email}" />
                <td th:text="${feedback.experience}" />
                <td sec:authorize="hasRole('ADMIN')">
                    <span th:if="${feedback.approved == true}">Approved</span>
                    <span th:unless="${feedback.approved == true}">
                        <a th:href="@{/approve(id=${feedback.id})}" class="btn btn-success">Approve</a>
                    </span>
                </td>
            </tr>
            </tbody>
          </table>
    </div>
    <script type="text/javascript" th:src="@{js/jquery-3.5.1.js}" src="../static/js/jquery-3.5.1.js"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</body>
</html>