<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/bootstrap.css}" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" th:href="@{css/login.css}" href="../static/css/login.css" />
    <title>Guest Book</title>
</head>
<body>
    <div class="container">

        <div class="login-form">
            <form th:action="@{/login}" method="post">
                <h2 class="text-center">Log in</h2>
                <div class="form-group">
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="required">
                </div>
                <div class="form-group">
                    <input id="password" name="password" type="password" class="form-control" placeholder="Password" required="required">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" th:src="@{js/jquery-3.5.1.js}" src="../static/js/jquery-3.5.1.js"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</body>
</html>